
body {
  width: 100%;
	height: 100%;
  font-size: 100%;
	background-image: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5) !important;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
	padding: 3% 10% !important;
}
@media all and (max-width: 1200px) {
	body {
		padding: 1em !important;
	}
}

#root {
	::-webkit-scrollbar {
		width: 0px; /* remove scrollbar space */
		background: transparent; /* optional: just make scrollbar invisible */
	}
}

.message-contain {
	height: -webkit-fill-available;
	background-color: rgba(0, 0, 0, 0.4) !important;
	border-radius: 15px !important;
	height: -webkit-fill-available;
}
.message-list {
	max-height: -webkit-fill-available;
	overflow-y: scroll;
}

.sidelist {
	height: -webkit-fill-available;
	overflow-y: scroll;
	background-color: rgba(0, 0, 0, 0.4) !important;
	border-radius: 15px !important;
}
