body {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5) !important;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
	padding: 3% 10% !important;
}
@media all and (max-width: 992px) {
	body {
		padding: 3% !important;
	}
	.message-container {
		height: 94vh !important;
	}
}

@media all and (max-width: 468px) {
	.msg_icon {
		display: none !important;
	}
	.msg_cont {
		max-width: -webkit-fill-available;
		overflow-y: -webkit-paged-y;
		position: unset !important;
		margin: 0 !important;
	}
	.msg_time {
		left: 0 !important;
		right: 0 !important;
	}
}

#root {
	::-webkit-scrollbar {
		width: 0px; /* remove scrollbar space */
		background: transparent; /* optional: just make scrollbar invisible */
	}
}

.message-container {
	position: relative;
	height: 90vh;
	background-color: rgba(0, 0, 0, 0.4) !important;
	border-radius: 15px !important;
	overflow: hidden;
	font-size: 1rem;
}

#message-list {
	max-height: 84%;
	overflow-y: scroll;
	padding: 0.8em 1.5em;
}

.sidelist {
	height: 90vh;
	padding: 1.5em 1.5em;
	overflow-y: scroll;
	background-color: rgba(0, 0, 0, 0.4) !important;
	border-radius: 15px !important;
}

.user-input {
	width: 100%;
	position: absolute;
	top: 87%;
	cursor: pointer;
	height: 12%;
	padding: .75rem 1.25rem;
	min-height: 50px;
	background-color: rgba(0, 0, 0, .06);
}

#textarea {
	border: none;
	color: white !important;
	border-radius: 10px !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	width: 92%;
	display: block;
	height: -webkit-fill-available !important;
	&:focus {
		outline: none;
	}
}

.submit {
	&:hover {
		transition: 200ms;
		background-color: rgba(0, 0, 0, 0.5) !important;
	}
	display: block;
	border-left: #1a1a24 1px solid;
	float: right;
	position: absolute;
	bottom: 15%;
	left: 92%;
	width: 6%;
	height: 70%;
	border-radius: 10px !important;

	background-color: rgba(0, 0, 0, 0.3) !important;
}

.enterIcon {
	position: relative;
	top: 40%;
	text-align: center;
	margin: auto auto;
}

#alert {
	position: fixed;
	top: 0;
	z-index: 99;
}

.robot-message {
	width: 100%;
	float: left;
	margin: 3px 0;
	position: relative;
	> .msg_icon {
		position: absolute;
	}

	> .msg_cont {
		padding: 0 10px;
		display: inline-block;
		position: relative;
		left: 20px;
		border-radius: 25px;
		background-color: #82ccdd;
		padding: 10px;
		margin: auto 10px auto 20px;
	}
	> .msg_time {
		max-width: 150px;
		left: 40px;
		position: relative;
		color: rgba(255, 255, 255, 0.5);
		font-size: 10px;
	}
}

.user-message {
	float: right;
	clear: both;
	margin: 3px 0;
	position: relative;

	> .msg_icon {
		float: right;
		position: relative;
		top: 3px;
	}

	> .msg_cont {
		float: right;
		display: inline-block;
		position: relative;
		border-radius: 25px;
		background-color: #78e08f;
		padding: 10px;
		margin: auto 15px;
	}
	> .msg_time {
		position: relative;
		right: 49px;
		float: right;
		clear: both;
		max-width: 150px;
		color: rgba(255, 255, 255, 0.5);
		font-size: 10px;
	}
}
.sidelist{
	text-align: center;
	.footer {
		position: absolute;
		bottom: 0px;
		right: 0px;
		vertical-align: bottom;
		width: 100%;
	}
}

