body {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5) !important;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
	padding: 1.5% 1.5% !important;
}

@media all and (max-width: 1199px) {
	.message-container {
		height: 70vh !important;
	}
	.sidelist {
		height: 70vh !important;
	}
	.info_box {
		height: 100% !important;
	}
}

@media all and (max-width: 991px) {
	.message-container {
		height: 70vh !important;
	}
	.sidelist {
		height: 70vh !important;
	}
	.info_box {
		height: 100% !important;
	}
}

@media all and (max-width: 767px) {
	body {
		margin-top: 1rem !important;
		padding: 0% !important;
	}
	.sidelist {
		height: unset !important;
	}
	.info_box {
		height: 100% !important;
	}
	.message-container {
		height: 96vh !important;
	}
}

@media all and (max-width: 468px) {
	.msg_icon {
		display: none !important;
	}
	.msg_cont {
		max-width: -webkit-fill-available;
		position: unset !important;
		margin: 0 !important;
	}
	.msg_time {
		left: 0 !important;
		right: 0 !important;
	}
}

.message-container {
	position: relative;
	height: 94vh;
	background-color: rgba(0, 0, 0, 0.4) !important;
	border-radius: 15px !important;
	overflow: hidden;
	font-size: 1rem;
}

#message-list {
	height: calc(100% - 140px);
	overflow-y: scroll;
	padding: 0.8em 1.5em;
}

.side_box:active {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.side_box:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.sidelist {
	flex: 1 1 auto;
	height: 90vh;
	background-color: rgba(0, 0, 0, 0.4) !important;
	border-radius: 15px !important;
	overflow-y: scroll;

	.side_header {
		color: white;
		text-align: center;
		height: 80px;
		padding: .75rem 1.25rem;
		margin-bottom: 0;
		background-color: rgba(0, 0, 0, 0.1);
		> #header {
			font-size: 24px;
			margin-bottom: 10px;
			margin-top: 4px;
		}
		> #sub_header {
			font-size: 16px;
		}
	}
	.side_box {
		cursor: pointer;
		height: 70px;
		list-style-type: none;
		width: 100% !important;
		padding: 5px 10px;
		margin-bottom: 15px !important;
		> div {
			position: relative;
		}
		> div > img {
			float: left;
			border: 1.5px solid #f5f6fa;
			background-color: rgba(0, 0, 0, 0.4) !important;
			border-radius: 50% !important;
			width: 56px;
			margin: auto;
		}
		.online_icon {
			top: 41px;
			left: 41px;
		}
		> .robot_box {
			display: block;
			position: relative;
			left: 15px;
			> div {
				font-size: 18px;
				color: white;
				margin-top: 10px;
			}
			> p {
				margin-top: 5px;
				font-size: 10px;
				color: rgba(255, 255, 255, 0.4);
			}
		}
	}
}

.sidelist::-webkit-scrollbar {
	display: none;
}

.user-input {
	padding: .55rem 1.25rem;
	background-color: rgba(0, 0, 0, .06);
}

#textarea {
	border: none;
	height: 43px;
	color: white !important;
	border-radius: 10px !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	padding: .375rem .75rem;
	font-size: 1.2rem;
	line-height: 1.5;
	width: calc(100% - 70px);
	display: block;
	display: inline-block;
	&:focus {
		outline: none;
	}
}

.submit {
	&:hover {
		transition: 200ms;
		background-color: rgba(0, 0, 0, 0.5) !important;
	}
	right: 10px;
	display: block;
	border-left: #1a1a24 1px solid;
	float: right;
	position: absolute;
	bottom: 9px;
	width: 70px;
	height: 44px;
	border-radius: 10px !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
}

.enterIcon {
	position: relative;
	top: 32%;
	text-align: center;
	margin: auto auto;
}

#alert {
	border-radius: 15px;
	position: absolute;
	right: 28%;
	top: 80px;
	z-index: 10;
}

.robot-message {
	width: 100%;
	float: left;
	margin: 3px 0;
	position: relative;
	> .msg_icon {
		position: absolute;
		width: 35px;
	}

	> .msg_cont {
		max-width: 90%;
		word-wrap: break-word;
		padding: 0 10px;
		display: inline-block;
		position: relative;
		left: 23px;
		border-radius: 25px;
		background-color: #82ccdd;
		padding: 10px;
		margin: auto 10px auto 20px;
	}
	> .msg_time {
		max-width: 150px;
		left: 40px;
		position: relative;
		color: rgba(255, 255, 255, 0.5);
		font-size: 10px;
	}
}

.user-message {
	width: 100%;
	float: right;
	clear: both;
	margin: 3px 0;
	position: relative;
	> .msg_icon {
		float: right;
	}

	> .msg_cont {
		max-width: 90%;
		word-wrap: break-word;
		float: right;
		position: relative;
		border-radius: 25px;
		background-color: #78e08f;
		padding: 10px;
		margin: auto 10px auto 20px;
	}
	> .msg_time {
		clear: both;
		float: right;
		max-width: 150px;
		right: 45px;
		position: relative;
		color: rgba(255, 255, 255, 0.5);
		font-size: 10px;
	}
}

.msg_head {
	position: relative;
	display: flex !important;
	height: 80px;
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, .1);
	> .robot_info {
		position: relative;
	}
	> .robot_info > img {
		border: 1.5px solid #f5f6fa;
		border-radius: 50% !important;
		background-color: rgba(0, 0, 0, 0.4) !important;
		float: left;
		width: 60px;
		margin: auto 0;
	}
	.online_icon {
		top: 45px;
		left: 45px;
	}
	.robot_info {
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 15px;
		font-size: 20px;
		color: white;

		> div {
			margin-top: 5px;
			font-size: 10px;
			color: rgba(255, 255, 255, 0.6);
		}
	}
}

.circle {
	border: 1.5px solid #f5f6fa;
	border-radius: 50% !important;
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.online_icon {
	position: absolute;
	height: 15px;
	width: 15px;
	background-color: #4cd137;
	border-radius: 50%;
	border: 1.5px solid white;
}

.menu_btn {
	position: absolute;
	right: 10px;
	top: 15px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}

#dimmer {
	top: 0;
	right: 0;
	z-index: 10;
	width: 150%;
	height: 150%;
	background-color: rgba(0, 0, 0, .6);
	position: fixed;
}

.dimmer_box {
	background-color: rgba(255, 255, 255, 0.9) !important;
	margin: 5% auto !important;
	position: fixed !important;
	z-index: 99;
	top: 200px;
	left: 0;
	right: 0;
	max-width: 500px !important;
	max-height: 150px !important;
	text-align: center;
	font-size: 18px !important;
	> .header {
		padding: 10px;
	}
}

.info_box {
	flex: 1 1 auto;
	height: 94vh;
	background-color: rgba(0, 0, 0, 0.4) !important;
	border-radius: 15px !important;
	font-size: 16px;
	padding: 16px;
	color: white;
	line-height: 1.4285em;
}

div#wave {
	position: relative;
	top: 2px;
	text-align: center;
	margin-left: auto;
	.dot {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin: 0 3px;
		animation: wave 1s linear infinite;
		background-color: rgb(83, 82, 85);
		&:nth-child(2) {
			animation-delay: +0.27s;
		}
		&:nth-child(3) {
			animation-delay: +0.54s;
		}
	}
}

@keyframes wave {
	40% {
		transform: translateY(-4px);
		background-color: rgb(141, 137, 145);
	}
}

.clickable {
	cursor: pointer;
}

.robot_dropdown {
	padding: 10px 15px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	border-radius: 15px;
	z-index: 1 !important;
	position: absolute;
	left: 20px;
	top: 27px;
	&:hover {
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.9);
	}
}

.user_dropdown {
	float: right;
	padding: 10px 15px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	border-radius: 15px;
	z-index: 1 !important;
	position: relative;
	left: 75px;
	top: 26px;
	&:hover {
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.9);
	}
}
